<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <title>TLDR</title>
</head>
<body onload="loadFunction();">
    <main id="home-main">
        <div class="half" id="blue-back">
            <h4><em>TLDR</em></h4>
            <h2>Get the Gist in Seconds.</h2>
            <h6>
                TL;DR uses AI to summarize text and audio into bitesize bulletpoints so you can spend less time reading
                and more time understanding.
            </h6>
            <button onclick="parent.location='/dashboard';">Get Started</button>
        </div>
        <div class="half" id="orange-back">
            <h1>tl;dr</h1>
            <h4>(Too long; didn't read)</h4>
        </div>
    </main>
</body>
</html>