<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toast.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/notebooks.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Notebooks</title>
</head>
<body class="notebooks-body">
    <nav class="nav-bar">
        <h4><a href="/">TL;DR</a></h4>
        <a href="/dashboard" class="left-push">Dashboard</a>
        <a href="/logout" class="right-shove">Logout</a>
    </nav>

    <main id="notebooks-main">
        <div class="notebook-list">
            <div class="row">
                <h2>Your Notebooks</h2>
                <button id="add-nb" class="notebook-butt">Add Notebook</button>
            </div>
            <ul id="notebook-ul">
                {% if notebooks|length < 1 %}
                {% else %} 
                    {% for notebook in notebooks %} 
                        <div class="row" id="{{notebook.name}}">
                            <li class="notebooks-li row">{{notebook.name}}</li>
                            <button class="edit-nb"><i class='far fa-edit left-push' style='font-size:24px'></i></button>
                            <button class="delete-nb"><i class="fa fa-trash right-shove" style="font-size:24px"></i></button>
                        </div>
                    {% endfor %} 
                {% endif %} 
            </ul>
        </div>
        <div class="notebook-list">
            <div class="row">
                <h2>Notes</h2>
                <button class="notebook-butt" id="add-bullet">Add Bullet</button>
                <button class="notebook-butt" id="delete-all">Delete All</button>
            </div>
            
            <ul id="bullet-ul">
                <li>Select a notebook to get started!</li>
            </ul>
            <h4>Query your notebook</h4>
            <div id="askform">
                <textarea id="queryta" name="queryta" placeholder="Select a notebook to start!" disabled></textarea>
                <input type="submit" value="Ask" id="ask">
            </div>
        </div>
    </main>
</body>
</html>