<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toast.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/notebooks.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Notebooks</title>
</head>
<body class="notebooks-body">
    <nav class="nav-bar">
        <h4><a href="/">TL;DR</a></h4>
        <a href="/dashboard" class="left-push">Dashboard</a>
        <a href="/logout" class="right-shove">Logout</a>
    </nav>

    <div class="notebook-side in">
        <i class="material-icons" id="arr-right">keyboard_arrow_right</i>
        <i class="material-icons" id="arr-left">keyboard_arrow_left</i>
        <div id="side-container">
            <div class="row">
                <h2 class="white">Your Notebooks</h2>
                <button id="add-nb" class="notebook-butt">Add Notebook</button>
            </div>
            <ul id="notebook-ul">
                {% if notebooks|length < 1 %}
                {% else %} 
                    {% for notebook in notebooks %} 
                        <div class="row" id="{{notebook.name}}">
                            <li class="notebooks-li row white">{{notebook.name}}</li>
                            <button class="edit-nb"><i class='far fa-edit left-push' style='font-size:24px; color:#EAEAE0'></i></button>
                            <button class="delete-nb"><i class="fa fa-trash right-shove" style="font-size:24px; color:#EAEAE0"></i></button>
                        </div>
                    {% endfor %} 
                {% endif %} 
            </ul>
        </div>
    </div>

    <main id="nb-col">
        <div class="notebooks-main">
            <div class="notebook-list">
                <div class="row">
                    <h2 class="head-h2">Notes</h2>
                    <button class="notebook-butt" id="add-bullet">Add Bullet</button>
                    <button class="notebook-butt" id="delete-all">Delete All</button>
                </div>
                
                <ul id="bullet-ul">
                    <li class="bullet-li">Select a notebook to get started!</li>
                </ul>
            </div>
            <div class="notebook-list">
                <div id="main-cont">
                    <div class="row">
                        <h2 class="head-h2">Questions & Answers</h2>
                        <button class="notebook-butt" id="add-context">Add Webpage Context</button>
                        <div class="tooltip">
                            ?
                            <span class="tooltiptext">Add a webpage to get better answers!</span>
                        </div>
                    </div>
                    <div id="url-add">
                    
                    </div>
                </div>

                
                <h4>Query your notebook</h4>
                <div class="row-close">
                    <label for="use-url">Use Webpage Context?</label>
                    <input type="checkbox" name="use-url" id="use-url">
                </div>
                <div id="askform">
                    <textarea id="queryta" name="queryta" placeholder="Select a notebook to start!" disabled></textarea>
                    <div class="loader" id="other-loader"></div>
                    <input type="submit" value="Ask" id="ask">
                </div>
            </div>
        </div>
        <div class="notebooks-main">
            <div class="notebook-list" id="explanation">
                <h2>Notebook Usage</h2>
                <p>
                    Use the dashboard to create bulletpoints of large pieces of text and then save them to a notebook,
                    or you can simply add the bulletpoints yourself. Once you've loaded up your notebook with all the information
                    you need, you can simply query your notebook with the textarea below and the computer will do its best to
                    answer your question based off the information you've provided! Take notes, add them to a notebook, and then 
                    simply ask a question and the notebook will take care of the rest as well as provide a percentage of confidence
                    in its answer!<br><br><b>The more information you provide to the computer the better your answers will be!</b>
                </p>
            </div>

        </div>
    </main>
</body>
</html>